:root {
  font-family: "Lato", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;

  line-height: 1.5;
 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--app-background-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
    /*PRINCIPAL PALETTE*/
    --app-background-default:#fff;
    --app-background:#eae6df;
    --app-background-2:#f0f2f5;

    --color-background:#E5E3EB;
    --color-background-2:#CACECA;
    --color-mainText:#01012b;
      /*PRINCIPAL PALETTE*/
      --primary:#5E37FA;
      --secundary:#ddbafa;
      --text-highlight:#
    
    
  /*COLOR PALETTE*/
  --color-pink:#ff2a6d;
  --color-light-blue:#d1f7ff;
  --color-aqua:#05d9e8;
  --color-blue:#005678;
  --color-dark-blue:#01012b;
 /*Cyberpunk Neon Color Palette*/
 --color-neon-pink:#ea00d9;
 --color-neon-purple:#711c91;
 --color-neon-aqua:#0abdc6;
 --color-neon-blue:#133e7c;
 --color-neon-dark-blue:#091833;
  
}

/* -------------------- Resets --------------------- */
body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding:0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    
  }

  h1 {
    
    font-family: 'Merriweather', serif;
    font-size: 2em; /* Tamaño de fuente para h1 */
    font-weight: 700; /* Grosor de la fuente */
    color: #222; /* Color del texto para h1 */
    margin-bottom: 0.5em; /* Espaciado inferior */
  
  }
  
  /* Estilo específico para los títulos h2 */
  h2 {
    font-family: 'Merriweather', serif;
    font-size: 1em; /* Tamaño de fuente para h2 */
    font-weight: 700; /* Grosor de la fuente */
    color: #222; /* Color del texto para h2 */
    margin-bottom: 0.5em; /* Espaciado inferior */
 
  }
  
  /* Ajuste de otros títulos si es necesario */
  h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700; /* Grosor de la fuente */
    color: #222; /* Color del texto */
  
  }

/* -------------------- CSS del Scroll diplay navbar--------------------- */
  .scrollbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    transition: transform 0.3s ease-in-out;
  }
  
  .scrollbar.hidden {
    transform: translateY(-100%);
  }
  
  .scrollbar.visible {
    transform: translateY(0);
  }

 

