:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-dark-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /*COLOR PALETTE*/
  --color-pink:#ff2a6d;
  --color-light-blue:#d1f7ff;
  --color-aqua:#05d9e8;
  --color-blue:#005678;
  --color-dark-blue:#01012b;
 /*Cyberpunk Neon Color Palette*/
 --color-neon-pink:#ea00d9;
 --color-neon-purple:#711c91;
 --color-neon-aqua:#0abdc6;
 --color-neon-blue:#133e7c;
 --color-neon-dark-blue:#091833;
  
}

/* -------------------- Resets --------------------- */
body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding:0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  



 

 

